{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/auth.css' %}?v=7">
<div class="bg" style="background-image:url('{% static "assets/images/login.png" %}')"></div>
<main class="container"><section class="card">
  <h1>Tạo mật khẩu mới</h1>
  <form method="post">{% csrf_token %}
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    <button class="btn" type="submit">Đổi mật khẩu</button>
  </form>
</section></main>
